.img-container {
    display: block;
    padding: 0.625rem;
    height: 100%;
}
.details {
    padding: 0 0.5rem 0 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
}