

<div class="media">
    <img class="mr-3" :src="{{(book$ | async)?.image_url}}" width="20%"  alt="{{(book$ | async)?.title}}">
    <div class="media-body">
      <h5 class="mt-0">{{(book$ | async)?.title}}</h5>
      <h6>{{(book$ | async)?.authors}}</h6>
      <p>Publication year: <strong>{{(book$ | async)?.original_publication_year}}</strong> <br>
     Language: <strong>{{(book$ | async)?.language_code}}</strong><br>
     Isbn: <strong>{{(book$ | async)?.isbn}}</strong><br>
     <bar-rating [(rate)]="rating"  [max]="5"  [theme]="'default'"></bar-rating>
    </p>
    </div>
  </div>
