<!--The content below is only a placeholder and can be replaced.-->
<nb-layout>

  <nb-layout-header fixed> Books Library
    <nb-menu [items]="menuItems"></nb-menu>
  </nb-layout-header>
  <nb-sidebar toggle>Sidebar</nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>

