.wrapper{
    display: grid;
    grid-gap: 10px 20px;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr  ;

}



/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    .wrapper{
        display: grid;
        grid-gap: 10px 20px;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    .wrapper{
        display: grid;
        grid-gap: 10px 20px;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
    .wrapper{
        display: grid;
        grid-gap: 10px 20px;
        grid-template-columns: 2fr 2fr 2fr;
    
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .wrapper{
        display: grid;
        grid-gap: 10px 20px;
        grid-template-columns: 2fr 2fr ;
    }
}
