<nb-card>
  <nb-card-header>
      <bar-rating [(rate)]="rating"  [max]="5"  [theme]="'default'"></bar-rating>
      <a [routerLink]="['/books', book.id]">{{book.title}}</a>
  </nb-card-header>
  <img :src="{{book.image_url}}" height="200px">
  <nb-card-body>
    By {{ book.authors }}
    Ratings: <strong>{{ book.ratings_count }}</strong>
  </nb-card-body>
  
</nb-card>