/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-bar-rating/themes/br-default-theme.css';
@import '../node_modules/ngx-bar-rating/themes/br-fontawesome-theme.css';
@import '../node_modules/ngx-bar-rating/themes/br-horizontal-theme.css';
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .nb-theme-default nb-sidebar{
        display: none;
    }
   
}
